{{> header}}
    <a href="/dep?start={{start}}&end={{end}}">dep{{start}}</a><button><i class="fas fa-map-marker-alt"></i></button>
    <a href="/ar?start={{start}}&end={{end}}">{{end}}</a><button><i class="fas fa-map-marker-alt"></i></button>
{{> footer}}