{{> header}}
    {{#se}}
    <section>
        <h1>Parking</h1>
        <a href="/?start=35R&end={{end}}">
            Clique
        </a>
        {{#park}}
            <a href="/?start={{name}}&end={{end}}">{{name}}</a></br>
        {{/park}}
    </ection>

    <section>
        <h1>Velostan</h1>
        {{#velo}}
            <a href="/?start={{name}}&end={{end}}">{{name}}</a></br>
        {{/velo}}
    </section>
    
    {{/se}}
    {{^se}}
    <section>
        <a href="/?start={{start}}&end=34V">
            Clique
        </a>
        <a href="/?start={{start}}&end=37V">
            Clique
        </a>
    </section>
    
    {{/se}}
{{> footer}}