{{> header}}
    {{#se}}
    <a href="/?start=35R&end={{end}}">
        Clique
    </a>
    <a href="/?start=67R&end={{end}}">
        Clique
    </a>
    {{/se}}
    {{^se}}
    <a href="/?start={{start}}&end=34V">
        Clique
    </a>
    <a href="/?start={{start}}&end=37V">
        Clique
    </a>
    {{/se}}
{{> footer}}